@import 'tailwindcss';

html,
body {
  font-family: 'Inter', 'Roboto', sans-serif;
  background-color: #0b0c2a;
  color: #fff;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e53637;
  border-radius: 10px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
